#!/bin/bash

#paths to bwa executable
export BWA="path_to_bwa"
#paths to samtools executable
export SAMTOOLS="path_to_samtools"
#path to picard jar
export PICARD="path_to_picard"
#path to strelka config file
export STRELKA_CONFIG="path_to_strelka_config"

#path to reference fasta from GATK bundle 
export REFERENCE="path_to_reference"

#path to bed file  with exones intervals
export CDS="./cds.bed"



